main {
  overflow-x: hidden;
}

#ticker-title {
  text-align: center;
  padding-bottom: 20px;
}

#chart-and-sidebar {
  padding-right: 25px;
}

.chart-message {
  padding-top: 200px;
  text-align: center;
  font-size: 24px;
  color: darkgray;
}
